.filter-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .summary-table {
    margin: 20px 0;
  }
  
  .summary-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .summary-table th, .summary-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .summary-table th {
    background-color: #f2f2f2;
  }
  .charts{
    .card{
        align-items: center;
        .card-body{
            width: 400px;
            height: 500px;
            size: 400px;
        }
    }
}
.p-button{
    background-color: green;
  }